.card{
  border:none;
  border-radius:16px;
  box-shadow:0 10px 28px rgba(0,0,0,.06);
  transition:.3s ease;
}
.card:hover{
  transform:translateY(-4px);
}

.kpi{
  border-left:6px solid #102E4A;
}

.btn-primary-custom{
  background:#388087;
  border:none;
  color:white;
}
.btn-primary-custom:hover{
  background:#2f6f75;
}

.table thead{
  background:#102E4A;
  color:white;
}