
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6CCB2; 
  font-family: Arial, sans-serif;
  color: #46462A;
}


.container {
  background-color: #F3E3B2; 
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}


input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #46462A;
  background: transparent;
  color: #46462A;
  font-size: 14px;
}

input::placeholder {
  color: #46462A;
  opacity: 0.7;
}

input:focus {
  outline: none;
  border-color: #102E4A;
  box-shadow: 0 0 5px rgba(16, 46, 74, 0.5);
}


button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: #74070D; 
  color: #F3E3B2;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #310F10; 
}


.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #102E4A; 
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
