.navbar-custom {
    background-color: #46462A; 
}

.navbar-custom .nav-link {
    color: #F5F5DC; 
}

.navbar-custom .nav-link:hover {
    color: #B7B76B; 
}

.navbar-custom .nav-link.active {
    color: #F3E3B2; 
}
.summary-card-bean {
    background-color: #310F10;
    color: #F5F5DC;
}

.btn-dark-green {
    background-color: #46462A; 
    color: #F5F5DC; 
    border: none; 
}

.btn-dark-green:hover {
    background-color: #5C5C35; 
    color: #FFFFFF;
}
.btn-logout {
    border-color: #74070D; 
    color: #F5F5DC;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background-color: #74070D;
    color: #FFFFFF;
    border-color: #74070D;
}