:root {
 /* --vanilla: #F3E3B2;
  --dark-green: #46462A;
  --blood-red: #74070D;
  --bean: #310F10;
  --midnight: #102E4A;
  --bg-main: #E6CCB2; */

   --blue:#102E4A;
  --bluegreen :#388087;
  --gris:#F6F6F2;
  --black:#000000;
  --footer : #212529;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris); 
  font-family: Arial, sans-serif;
  color: #46462A;
}


.container {
  background-color: --gris; 
  padding: 30px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}


input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid var(--black);
  background: transparent;
  color: var(--blue);
  font-size: 14px;
}

input::placeholder {
  color:var(--blue);
  opacity: 0.7;
}

input:focus {
  outline: none;
  border-color:var(--blue);
  box-shadow: 0 0 5px rgba(16, 46, 74, 0.5);
}


button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: var(--bluegreen); 
  color: var(--gris);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--blue); 
}


.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: var(--blue); 
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
